* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #dcdcdc;
}

.header {
  position: relative;
  text-align: left;
}

.header-image {
  position: relative;
  overflow: hidden;
}

.header-image:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  background-color: #1a2b42;
}

.header img {
  width: 100%;
  max-height: 50vh;
  display: block;
}

.header-title {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #1a2b42;
  position: sticky;
  top: 0;
  padding: 15px 0;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding: 0 10px;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-links {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-links a {
  margin-left: 10px;
  color: white;
}

.profile-picture {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border: 4px solid black;
  box-shadow: 0 0 5px rgba(26, 43, 66, 0.3);
  margin-right: 5px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 50px;
  margin-left: 50px;
}

.profile-info {
  margin-left: 0;
  margin-bottom: 20px;
}

.profile-actions {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.profile-actions a {
  margin-right: 10px;
}

.profile-actions .profile-actions-bar {
  display: flex;
}

.profile-actions .profile-actions-bar a {
  margin-right: 10px;
}

.profile-actions form {
  margin-left: auto;
}

.profile-details p {
  margin-bottom: 10px;
}

.profile-details .profile-detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.profile-details .profile-detail .detail-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.profile-details .profile-detail .detail-value {
  margin-left: 20px;
}

.profile-title {
  margin-bottom: 30px;
  font-size: 20px;
  color: #1a2b42;
}

.profile-details .profile-detail .detail-label {
  color: #1a2b42;
  font-weight: bold;
}

.profile-details .profile-detail .detail-value {
  color: #555555;
}

.profile-details .profile-detail .detail-value::before {
  content: "\2022";
  margin-right: 5px;
}

