<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Welcome to MovieCoasterTycoon!</h1>
    </header>

    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>Copyright &copy; 2023 MovieCoasterTycoon</p>
    </footer>
</body>
</html>
