<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <header class="header">
    <div class="header-image">
      <img src="{{ url_for('static', filename='images/Movie.jpg') }}" alt="Movie image">
    </div>
    <h1 class="header-title">
      <i class="fas fa-film"></i> MovieCoasterTycoon - Let's take a ride
    </h1>
    <div class="header-links">
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('user_profile', user_id=current_user.id) }}">My Profile</a>
        <a href="{{ url_for('logout') }}">Logout</a>
      {% else %}
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('register') }}">Register</a>
      {% endif %}
    </div>
    <nav class="navbar" id="navbar">
      <a href="{{ url_for('home') }}">Home</a>
      {% if current_user.is_authenticated %}
        <a href="{{ url_for('user_profile', user_id=current_user.id) }}">My Profile</a>
      {% endif %}
      <a href="{{ url_for('top_100_movies') }}">Top 100 Movies</a>
      <a href="{{ url_for('list_users') }}">View Users</a>
      <a href="{{ url_for('random_movie') }}">Surprise Me!</a>
      <a href="{{ url_for('movie_reviews') }}">Reviews</a>
    </nav>
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}

  <script src="{{ url_for('static', filename='frontend.js') }}"></script>
</body>
</html>
