<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header class="header">
    <img src="{{ url_for('static', filename='images/Movie.jpg') }}" alt="Movie image">
    <h1 class="header-title">MovieCoasterTycoon - Let's take a ride</h1>
    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        {% if current_user.is_authenticated %}
          <li><a href="{{ url_for('user_profile', user_id=current_user.id) }}">My Profile</a></li>
          <li><a href="{{ url_for('logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{ url_for('login') }}">Login</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        {% endif %}
        <li><a href="{{ url_for('top_100_movies') }}">Top 100 Movies</a></li>
        <li><a href="{{ url_for('list_users') }}">View Users</a></li>
        <li><a href="{{ url_for('random_movie') }}">Surprise Me!</a></li>
        <li><a href="{{ url_for('movie_reviews') }}">Reviews</a></li>
      </ul>
    </nav>
  </header>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
    {% endif %}
  {% endwith %}

  {% block content %}
  {% endblock %}

  <footer>
    <p>Copyright © 2023 MovieCoasterTycoon</p>
  </footer>
</body>
</html>
