{% extends 'base.html' %}

{% block title %}
Confirm Movie
{% endblock %}

{% block content %}
    <h2>Confirm Movie</h2>
    <p>Are you sure you want to add the following movie?</p>
    <p>{{ movie.Title }} ({{ movie.Year }}) by {{ movie.Director }}</p>
    <img src="{{ movie.Poster }}" alt="Movie poster">
    <form method="POST" action="{{ url_for('confirm_movie', user_id=user_id, movie_name=movie.Title) }}">
        <label for="rating">Your Rating:</label>
        <input type="number" id="rating" name="rating" min="0" max="10" step="0.1" />
        <input type="submit" value="Yes, add this movie">
    </form>
    <form method="POST" action="{{ url_for('add_movie') }}">
        <input type="submit" value="No, find another movie">
    </form>
{% endblock %}
