{% extends 'base.html' %}

{% block title %}
  Top 100 Movies
{% endblock %}

{% block content %}
  <div class="top100-movies-section">
    <h2 class="movies-heading">Top 100 watched Movies in this community</h2>

    <ol class="top100-movie-list">
      {% for movie in movie_counts %}
        <li>
          <div class="movie-container">
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }} poster" class="top100-movie-poster">
            <form action="{{ url_for('add_to_watchlist', user_id=current_user.id) }}" method="post">
              <input type="hidden" name="movie_name" value="{{ movie.Title }}">
              <button type="submit" class="top100-add-to-watchlist-button" title="Add to watchlist">
                <i class="fas fa-star"></i>
              </button>
            </form>
          </div>
          <a href="https://www.imdb.com/title/{{ movie.imdbID }}/"> {{ movie.Title }} </a>
        </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}
