{% extends 'base.html' %}

{% block content %}
  <div class="user-profile-profile-container">
    <div class="user-profile-profile-title">
      <h3>
        {% if current_user.is_authenticated and current_user.id == user['name'] %}
          My Profile
        {% else %}
          {{ user['name'] }}'s Profile
        {% endif %}
      </h3>
    </div>

    <div class="user-profile-image-and-actions-container">
      <div class="user-profile-profile-actions">
        <div class="user-profile-buttons">
          <div class="user-profile-profile-actions-bar">
            <a href="{{ url_for('user_movies', user_id=user['name']) }}">
              {% if current_user.is_authenticated and current_user.id == user['name'] %}
                My Movie List
              {% else %}
                {{ user['name'] }}'s Movie List
              {% endif %}
            </a>
            <a href="{{ url_for('user_watchlist', user_id=user['name']) }}">Watchlist</a>
          </div>
        </div>
      </div>

      {% if profile_picture %}
        <img class="user-profile-profile-picture" src="{{ profile_picture }}" alt="Profile picture">
      {% else %}
        <div class="user-profile-profile-picture"></div>
      {% endif %}
    </div>

    <div class="user-profile-profile-info">
      <div class="user-profile-profile-details">
        <div class="user-profile-profile-detail">
          <div class="detail-label">Name</div>
          <div class="detail-value">{{ user['name'] }}</div>
        </div>
        <div class="user-profile-profile-detail">
          <div class="detail-label">Age</div>
          <div class="detail-value">{{ user['age'] or 'N/A' }}</div>
        </div>
        <div class="user-profile-profile-detail">
          <div class="detail-label">Gender</div>
          <div class="detail-value">{{ user['sex'] or 'N/A' }}</div>
        </div>
        <div class="user-profile-profile-detail">
          <div class="detail-label">Words to live by</div>
          <div class="detail-value user-profile-word-wrap">{{ user['words_to_live_by'] or 'N/A' }}</div>
        </div>
        <div class="user-profile-profile-detail">
          <div class="detail-label">Favorite Movie</div>
          <div class="detail-value">{{ user['favorite_movie'] or 'N/A' }}</div>
        </div>
        <div class="user-profile-profile-detail">
          <div class="detail-label">Favorite Quote</div>
          <div class="detail-value user-profile-word-wrap">{{ user['favorite_quote'] or 'N/A' }}</div>
        </div>
      </div>
    </div>

    {% if current_user.is_authenticated and current_user.id == user['name'] %}
      <div class="user-profile-update-delete-actions">
        <a href="{{ url_for('update_profile', user_id=user['name']) }}" class="button">Update Profile</a>

        <form method="POST" action="{{ url_for('delete_account', user_id=user['name']) }}">
          <input type="submit" value="Delete Account" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.')">
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}
