{% extends 'base.html' %}

{% block content %}
    <h1 class="page-title">Movies</h1>

    {% if current_user_id == user_id %}
        <a href="{{ url_for('add_movie', user_id=user_id) }}" class="add-movie-button">Add Movie</a>
    {% endif %}

    <form action="{{ url_for('user_movies', user_id=user_id) }}" method="GET" class="usermovies-search-form">
        <input type="text" name="search" placeholder="Search for a movie..." value="{{ request.args.search or '' }}">
        <input type="submit" value="Search">
    </form>

    <div class="usermovies-container">
        {% for movie_id, movie in movies %}
            <div class="usermovie-card">
                <div class="usermovie-title">{{ movie['Title'] }}</div>
                <div class="poster-wrapper">
                    <a href="https://www.imdb.com/title/{{ movie['imdbID'] }}/" target="_blank">
                        <img class="usermovie-poster-image" src="{{ movie['Poster'] }}" alt="{{ movie['Title'] }} poster">
                    </a>
                    <form method="POST" action="{{ url_for('add_to_watchlist', user_id=user_id) }}" class="add-to-watchlist-form">
                        <input type="hidden" name="movie_name" value="{{ movie['Title'] }}">
                        <button type="submit" class="add-to-watchlist-link" title="Add to Watchlist">Add to Watchlist ★</button>
                    </form>
                </div>
                <div class="usermovie-review">
                    {% if movie['review'] %}
                        <p class="review-label">Review:</p>
                        <p class="review-content review-container-wordwrap">
                            <strong>Review:</strong><br>{{ movie['review']|replace('\n', '<br>')|safe }}
                        </p>
                        {% set likes = movie['likes']|default({'count': 0}) %}
                        <p class="likes-count">Likes: {{ likes['count'] }}</p>
                    {% endif %}
                </div>
                <p class="personal-rating">Personal Rating: {{ movie['personal_rating'] }}</p>
                <div class="usermovie-card-actions">
                    {% if current_user_id == user_id %}
                        <form method="post" class="delete-button" action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie_id) }}">
                            <input type="submit" value="X">
                        </form>
                        <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie_id) }}">Update</a>
                    {% endif %}
                    {% if current_user_id != user_id and movie['review'] %}
                        <form method="post" action="{{ url_for('like_review', user_id=user_id, movie_id=movie_id, liker_id=current_user_id) }}">
                            <input type="submit" value="Like">
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}