{% extends 'base.html' %}

{% block title %}
  User List
{% endblock %}

{% block content %}
  <div class="user-list-title-container">
    <h2>User List</h2>
  </div>
  <form class="search-container" method="POST" action="{{ url_for('list_users') }}">
    <input class="search-input" type="text" id="search" name="search">
    <input class="search-button" type="submit" value="Search">
  </form>

  <div class="user-list-container">
    <ul class="user-list">
      {% for user in users %}
        <li>
          <a href="{{ url_for('user_profile', user_id=user.id) }}">{{ user.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}