{% extends 'base.html' %}

{% block content %}
    <h1 class="page-title">Movies</h1>

    {% if current_user_id == user_id %}
        <a href="{{ url_for('add_movie', user_id=user_id) }}" class="add-movie-button">Add Movie</a>
    {% endif %}

    <form action="{{ url_for('user_movies', user_id=user_id) }}" method="GET" class="usermovies-search-form">
        <input type="text" name="search" placeholder="Search for a movie..." value="{{ request.args.search or '' }}">
        <input type="submit" value="Search">
    </form>

    <div class="usermovies-container">
        {% for movie_id, movie in movies %}
            <div class="usermovie-card">
                <a href="https://www.imdb.com/title/{{ movie['imdbID'] }}/" target="_blank">
                    <img class="usermovie-poster" src="{{ movie['Poster'] }}" alt="{{ movie['Title'] }} poster">
                </a>
                <h2>{{ movie['Title'] }}</h2>
                {% if movie['review'] %}
                    <p>Review: {{ movie['review'] }}</p>
                    {% set likes = movie['likes']|default({'count': 0}) %}
                    <p>Likes: {{ likes['count'] }}</p>
                {% endif %}
                <p>Personal Rating: {{ movie['personal_rating'] }}</p>
                <div class="usermovie-card-actions">
                    {% if current_user_id == user_id %}
                        <form method="post" class="delete-button" action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie_id) }}">
                            <input type="submit" value="X">
                        </form>
                        <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie_id) }}">Update</a>
                        <form method="POST" action="{{ url_for('add_to_watchlist', user_id=user_id) }}">
                            <input type="hidden" name="movie_name" value="{{ movie['Title'] }}">
                            <input type="submit" value="Add to Watchlist">
                        </form>
                    {% endif %}
                    {% if current_user_id != user_id and movie['review'] %}
                        <form method="post" action="{{ url_for('like_review', user_id=user_id, movie_id=movie_id, liker_id=current_user_id) }}">
                            <input type="submit" value="Like">
                        </form>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
