{% extends 'base.html' %}

{% block title %}
  Profile
{% endblock %}

{% block content %}
  <h2>Profile</h2>

  {% if profile_picture %}
    <img class="profile-picture" src="{{ profile_picture }}" alt="Profile picture">
  {% else %}
    <div class="broken-image-icon"></div>
  {% endif %}

  <p>Name: {{ user['name'] }}</p>
  <p>Age: {{ user['age'] or 'N/A' }}</p>
  <p>Sex: {{ user['sex'] or 'N/A' }}</p>
  <p>Words to live by: {{ user['words_to_live_by'] or 'N/A' }}</p>
  <p>Favorite Movie: {{ user['favorite_movie'] or 'N/A' }}</p>
  <p>Favorite Quote: {{ user['favorite_quote'] or 'N/A' }}</p>

  <a href="{{ url_for('user_movies', user_id=user['name']) }}">My Movie List</a>
  <a href="{{ url_for('user_watchlist', user_id=user['name']) }}">Watchlist</a>

  {% if current_user.is_authenticated and current_user.id == user['name'] %}
    <a href="{{ url_for('update_profile', user_id=user['name']) }}" class="button">Update Profile</a>

    <form method="POST" action="{{ url_for('delete_account', user_id=user['name']) }}">
      <input type="submit" value="Delete Account" onclick="return confirm('Are you sure you want to delete your account? This action cannot be undone.')">
    </form>
  {% endif %}
{% endblock %}
