{% extends 'base.html' %}

{% block content %}
    <h1>Movies</h1>
    {% if current_user_id == user_id %}
        <a href="{{ url_for('add_movie', user_id=user_id) }}" class="btn btn-primary">Add Movie</a>
    {% endif %}
    <ul>
        {% for movie_id, movie in movies %}
            <li>
                <a href="https://www.imdb.com/title/{{ movie['imdbID'] }}/" target="_blank">
                    <img src="{{ movie['Poster'] }}" alt="{{ movie['Title'] }} poster" width="100">
                </a>
                <span>{{ movie['Title'] }}</span>
                <p>{{ movie['review'] }}</p>
                {% if movie['review'] %}
                    {% set likes = movie['likes']|default({'count': 0}) %}
                    Likes: {{ likes['count'] }}
                {% endif %}
                {% if current_user_id == user_id %}
                    <form method="post" action="{{ url_for('delete_movie', user_id=user_id, movie_id=movie_id) }}">
                        <input type="submit" value="Delete">
                    </form>
                    <a href="{{ url_for('update_movie', user_id=user_id, movie_id=movie_id) }}" class="btn btn-primary">Update</a>
                {% endif %}
                {% if current_user_id != user_id and movie['review'] %}
                    <form method="post" action="{{ url_for('like_review', user_id=user_id, movie_id=movie_id, liker_id=current_user_id) }}">
                        <input type="submit" value="Like">
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
